<html>
  <head>
    <title>
        CIENTÍFICOS
    </title>
    <link rel="stylesheet" href="../Recursos/estilos.css">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  
  <body>
    <div class="inicio">
      <h1> REGÍSTRATE </h1>
      <br>
      <form action="registro.php" method="post">
        Usuario: <input type="text" name="nick" /><br><br>
        Contraseña: <input type="password" name="contraseña" /><br><br>
        Nombre: <input type="text" name="nombre" /><br><br>
        Apellidos: <input type="text" name="apellidos" /><br><br>
        Correo: <input type="text" name="correo" /><br><br>
        Telefono: <input type="text" name="telefono" /><br><br>
        Dirección: <input type="text" name="direccion" /><br><br>
        Ciudad: <input type="text" name="ciudad" /><br><br>
        País: <input type="text" name="pais" /><br><br>
        Código postal: <input type="text" name="cp" /><br><br>
        <input id="registro" type="submit" value="Registro" />
      </form>
    </div>
    
  </body>

</html>
